{% extends 'FinalApp/index.html' %}
{% load static %}

{% block 'nav' %}

        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'indice' %}">Principal</a>
            </div>
        </nav>

{% endblock 'nav' %}


{% block 'header' %}

    <header class="publicar">
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="text-center text-white">
                            <h1 class="mb-5">Algo sobre nosotros</h1>
                            <h4> Somos German Saucedo y Gaspar Gimenez
                                 <br>
                                 Siendo dos fanaticos de la tecnologia, nos hemos juntado para hacer este trabajo final. 
                                 <br>
                                 En este trabajo practico, hemos logrado desarrollar nuestra aplicacion, utilizando 
                                 <br>
                                 las diferentes herramientas que aprendimos a manejar en este curso. 
                                 <br>
                                 El objetivo es continuar con el aprendizaje del lenguaje Python junto con Django
                                 <br>
                                 para lograr la insercion en el mercado laboral, junto con la constante busqueda de
                                 <br>
                                 progreso constante.
                                 <br>
                                 


                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </header>
     </header>

{% endblock 'header' %}

{% block 'section' %}

{% endblock 'section' %}