{% extends 'FinalApp/index.html' %}
{% load static %}

{% block 'nav' %}

        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                
                <a class="navbar-brand" href="{% url 'ver_producto' producto.id %}">Atras</a>

            </div>
        </nav>

{% endblock 'nav' %}


{% block 'header' %}

    <header class="perfil">
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <form method="post">{% csrf_token %}
                                <h4>
                                Esta a punto de eliminar {{ object }} de la lista de productos
                                <br>
                                ¿Desea continuar?
                                </h4>
                                <input type='submit' value='Confirmar' />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
     </header>

{% endblock 'header' %}

{% block 'section' %}

{% endblock 'section' %}
