{% extends 'FinalApp/index.html' %}
{% load static %}

{% block 'nav' %}

        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'indice' %}">Principal</a>
                <a class="navbar-brand" href="{% url 'publicar' %}">Volver</a>
            </div>
        </nav>

{% endblock 'nav' %}


{% block 'header' %}

    <header class="proveedor">
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            {% if messages %}
                                {% for mensaje in messages %}
                                    <div class="alert alert-success alert-dismissible fade show">
                                        <strong>Exito!</strong> {{mensaje}}
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form action= {% url 'asociar' %} method ="POST">
                                {% csrf_token %}
                                <table>
                                    {{formulario.as_table}}
                                </table>
                                <input type="submit" placeholder= "Enviar">
                            </form>         
                            <h3 class="mb-5">Registrate para conectarte con mas proveedores</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>
     </header>

{% endblock 'header' %}

{% block 'section' %}

{% endblock 'section' %}